#
# Ansible generated
#

# General options
[options]
HoldPkg		= pacman glibc
Architecture 	= auto

# Misc options
#UseSyslog
Color
#NoProgressBar
CheckSpace
VerbosePkgLists
ParallelDownloads = 5
ILoveCandy
DownloadUser = alpm
#DisableSandbox
SigLevel	  = Required DatabaseOptional
LocalFileSigLevel = Optional

# enabled repositories
[core]
Include = /etc/pacman.d/mirrorlist

[extra]
Include = /etc/pacman.d/mirrorlist

[multilib]
Include = /etc/pacman.d/mirrorlist
